#  Use this file as a template when creating a new config file.
#  Many of the defaults can be left as is (although password changes
#  are most likely desired).  
#  The values that must be configured are:
#      influxdb_url
#      mysql_host
#      keystone_host
#      monasca_api_host
#      monitored_services
#      hosts
#             
#  Here is the basic structure of this file.
#
#  The entire config file is read.  The sections below are removed from the 
#  config file data and used to create the ansbile group_vars, host_vars, and hosts files.
#  Then the remaining config data is written to the monasca group_vars file.
#
#     all_config:
#       # group_vars variables for all hosts. 
#     master_config:
#       # group_vars variables for monasca_master.
#     workers_config:
#       # group_vars variables for monasca_workers.
#     monitored_services:
#       # hosts by services to install the monasca_agent.
#       used to update the hosts file and services for the 
#       external service (i.e. glance, neutron) group vars.
#     agent_config:
#       # the monasca_agent dictionary that contains service.
#         template used for the external service group vars file.
#     hosts:
#       # list of hosts within the monasca cluster.
#       monasca server hostname, ip, and sequential kafka id.
#
# Random passwords can be generated on request throughout the configuration.
# To insert a random password at any point, use this string:  PLEASE-GENERATE

# Paths used by the installed version of Horizon
dashboard_path: /usr/share/openstack-dashboard/openstack_dashboard/
grafana_base_dir: /opt
grafana_dest: /usr/share/openstack-dashboard/static/grafana
panel_dest_path: /usr/share/openstack-dashboard/monitoring

# The following 14 SSL-related parameters are optional.
# If these options are ommitted, Monasca will be installed without SSL enabled.
#cacert_src: CA/cacert.pem
#cacert_name: monasca_ca.crt

#monasca_api_keystore: /etc/monasca/api_keystore.jks
#monasca_api_keystore_src: CA/{{ansible_hostname}}.jks
#monasca_api_keystore_password: password

#mysql_ssl_ca: /usr/local/share/ca-certificates/{{cacert_name}}
#mysql_ssl_ca_src: "{{cacert_src}}"
#mysql_ssl_cert: /etc/mysql/{{ansible_hostname}}.pem
#mysql_ssl_cert_src: CA/{{ansible_hostname}}.pem
#mysql_ssl_key: /etc/mysql/{{ansible_hostname}}_private.pem
#mysql_ssl_key_src: CA/{{ansible_hostname}}_private.pem
#mysql_ssl: "{'ca': '/usr/local/share/ca-certificates/{{cacert_name}}' }"

#influxdb_ssl_certificate: /opt/influxdb/shared/{{ansible_hostname}}.pem
#influxdb_ssl_certificate_src: CA/{{ansible_hostname}}_combined.pem

# Load balanced VIPs (use 'https' in influxdb_url if SSL is enabled)
influxdb_url: http://mon-ae1test-monasca07.useast.hpcloud.net:8086
mysql_host: mon-ae1test-monasca07.useast.hpcloud.net

# API settings
api_region: useast
api_influxdb_user: mon_api
api_influxdb_password: PLEASE-GENERATE

# When mysql on external host from monasca, set this to false
mysql_install_on_monasca: true

all_config:
  # The variables in 'all' can be used by any host (monasca or external)
  
  # Note: The mysql schema path default is: monasca_schema_file: /var/lib/mysql/mon.sql
  mysql_root_password: PLEASE-GENERATE
  mysql_admin: root
  mysql_admin_password: password
  api_mysql_user: monapi
  api_mysql_password: password
  thresh_mysql_user: thresh
  thresh_mysql_password: password
  notification_mysql_user: notification
  notification_mysql_password: password
  mysql_users:
    notification: '{{notification_mysql_password}}'
    monapi: '{{api_mysql_password}}'
    thresh: '{{thresh_mysql_password}}'

  monasca_api_host: mon-ae1test-monasca01.useast.hpcloud.net
  # Load balanced VIP for monasca_api URL (use 'https' if SSL is enabled)
  monasca_api_url: http://{{monasca_api_host}}:8080/v2.0

  # if using hlinux use:
  # percona_package: percona-xtradb-cluster-server-5.5
  # setup_percona_repo: false  
  percona_package: percona-xtradb-cluster-56
  
  keystone_admin: admin
  keystone_admin_password: password
  keystone_admin_token: ADMIN
  keystone_endpoint: {host: '{{ monasca_api_host }}', name: monasca}
  # keystone_host is the host that has keystone installed
  keystone_host: 192.168.10.5
  keystone_project: test
  keystone_project_admin: monasca-agent
  keystone_project_admin_password: password
  keystone_monasca_agent_password: password
  keystone_url: http://{{keystone_host}}:35357/v3
  keystone_users:
    mini-mon: {password: "{{keystone_project_admin_password}}", role: monasca-user, project: "{{keystone_project}}"}
    monasca-agent: {password: "{{keystone_monasca_agent_password}}", role: monasca-agent, project: "{{keystone_project}}"}

monitored_services:
  # Hosts by service to install the monasca-agent.  One agent is installed per host.
  # The service name is used to configure the agent to emit metrics for that service.
  # A host having more than one service can only be listed under 'multi-service'.
  # hostname can be the pingable domain name or ip address.
  # Note: the monasca hosts are ignored here, since they are defined in hosts.
  - service: monasca
    hosts:
      - hostname: mon-ae1test-monasca01.useast.hpcloud.net
      - hostname: mon-ae1test-monasca02.useast.hpcloud.net
      - hostname: mon-ae1test-monasca03.useast.hpcloud.net
  - service: devstack
    hosts:
      - hostname: one
  - service: multi-service
    # multi-service hosts are hosts that have more than one monitored service installed
    hosts:
      - hostname: three
      - hostname: four

hosts:
# The monasca hosts
  - hostname: mon-ae1test-monasca01.useast.hpcloud.net
    internal_ip: 10.22.156.11
    kafka_id: 0
  - hostname: mon-ae1test-monasca02.useast.hpcloud.net
    internal_ip: 10.22.156.12
    kafka_id: 1
  - hostname: mon-ae1test-monasca03.useast.hpcloud.net
    internal_ip: 10.22.156.13
    kafka_id: 2

#The monasca_agent for monasca
monasca_agent:
  user: monasca-agent
  password: "{{keystone_monasca_agent_password}}"
  project: "{{keystone_project}}"
  service: monitoring

persister_influxdb_user: mon_persister
persister_influxdb_password: PLEASE-GENERATE
smtp_host: localhost
wsrep_cluster_name: monasca

influxdb_replication_factor: 3
influxdb_version: 0.8.1
influxdb_raft_port: 9090
influxdb_hostname: "{{ inventory_hostname }}"

# The ports are not written to a config file directly, but used by the generator
zookeeper_client_port: 2181
kafka_client_port: 9092

monasca_apt_key: https://region-a.geo-1.objects.hpcloudsvc.com/v1/46995959297574/mini-mon/public_repo/mon.gpg
monasca_apt_repo: deb https://region-a.geo-1.objects.hpcloudsvc.com/v1/46995959297574/mini-mon/public_repo precise release

master_config:
  # Enable/disable services
  storm_nimbus_enabled: true
  storm_supervisor_enabled: false

  # Schema settings
  influxdb_users:
    mon_api: '{{api_influxdb_password}}'
    mon_persister: '{{persister_influxdb_password}}'
  kafka_topics:
    metrics: { replicas: 3, partitions: 64 }
    events: { replicas: 3, partitions: 12 }
    raw-events: { replicas: 3, partitions: 12 }
    transformed-events: { replicas: 3, partitions: 12 }
    alarm-state-transitions: { replicas: 3, partitions: 12 }
    alarm-notifications: { replicas: 3, partitions: 12 }

  # Other settings
  influxdb:
    version: '{{influxdb_version}}'
    raft_port: '{{influxdb_raft_port}}'
    seed_servers: []
    replication_factor: '{{influxdb_replication_factor}}'
  influxdb_retention_policy: "365d"
  influxdb_shard_duration: "7d"
  percona_master_node: true

workers_config:
  # Enable/disable services
  storm_nimbus_enabled: false
  storm_supervisor_enabled: true

  # Other settings
  influxdb:
    version: '{{influxdb_version}}'
    raft_port: '{{influxdb_raft_port}}'
    replication_factor: '{{influxdb_replication_factor}}'

agent_config:
  monasca_agent:
  # The service will be populated by monitored_services service.
  # The monasca_agent dictionary is output in the service group_var file.
    user: monasca-agent
    password: "{{keystone_monasca_agent_password}}"
    project: "{{keystone_project}}"
    service: monitoring


